* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --absolute-white: #fff;
  --absolute-black: #000;
  --green-50: #9eff00;
  --green-60: #b1ff33;
  --green-70: #c5ff66;
  --green-80: #d8ff99;
  --green-90: #ecffcc;
  --green-95: #f5ffe5;
  --green-97: #f9fff0;
  --green-99: #fdfffa;
  --grey-10: #1a1a1a;
  --grey-15: #262626;
  --grey-20: #333;
  --grey-30: #4c4c4d;
  --grey-35: #59595a;
  --grey-40: #656567;
  --grey-60: #98989a;
  --grey-90: #e6e6e6;
  --font-family: "Barlow", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  background-color: #1e1e1e;
  color: white;
}

nav {
  padding: 25px;
  margin-bottom: 50px;
}
nav .nav-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container .logo {
  display: flex;
  gap: 5px;
  align-items: center;
}
nav .nav-container .logo h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--absolute-white);
}
nav .nav-container .nav-menu {
  display: none;
}
nav .nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
nav .nav-container ul li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-90);
  transition: 500ms;
  cursor: pointer;
}
nav .nav-container ul li:hover {
  transition: 500ms;
  font-weight: 700;
  font-size: 18px;
}
nav .nav-container button {
  border-radius: 8px;
  width: 135px;
  height: 59px;
  background: var(--green-50);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-15);
  border: none;
  transition: 500ms;
}
nav .nav-container button:hover {
  transition: 500ms;
  color: #fff;
  background: none;
  border: 2px solid var(--green-50);
}

.home {
  margin-bottom: 100px;
}
.home .home-container {
  position: relative;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .home-container .home-bg {
  position: absolute;
  z-index: -1;
}
.home .home-container h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 68px;
  text-align: center;
  color: var(--absolute-white);
  margin-top: 70px;
  margin-bottom: 50px;
}
.home .home-container .border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey-15);
  border-radius: 12px;
  padding: 24px 40px;
  width: 865px;
  height: 98px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background: rgba(36, 36, 36, 0.2);
  margin-bottom: 40px;
}
.home .home-container .border p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  color: var(--grey-60);
}
.home .home-container .border p span {
  border-radius: 8px;
  padding: 12px 14px;
  max-width: 111px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  color: var(--absolute-white);
  background-color: var(--grey-15);
}
.home .home-container .home-buttons {
  display: flex;
  gap: 10px;
}
.home .home-container .home-buttons button:nth-child(1) {
  border: 1px solid var(--grey-20);
  border-radius: 10px;
  width: 147px;
  height: 58px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background: rgba(36, 36, 36, 0.2);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--absolute-white);
}
.home .home-container .home-buttons button {
  border-radius: 10px;
  padding: 18px 28px;
  width: 143px;
  height: 58px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--grey-15);
  background: var(--green-50);
  border: none;
}

.companies {
  padding: 10px;
  margin-bottom: 70px;
}
.companies .companies-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.services {
  margin-bottom: 150px;
}
.services .services-container {
  max-width: 1400px;
  margin: auto;
}
.services .services-container h1:nth-child(1) {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  color: var(--absolute-white);
  margin-bottom: 20px;
}
.services .services-container p:nth-child(2) {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--grey-90);
  margin-bottom: 70px;
}
.services .services-container .services-box {
  display: flex;
  max-width: 1300px;
  margin: auto;
}
.services .services-container .services-box .box {
  padding: 25px;
  max-width: 426px;
  height: 510px;
  border: 1px solid #262626;
}
.services .services-container .services-box .box img {
  margin-bottom: 20px;
}
.services .services-container .services-box .box h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--absolute-white);
  margin-bottom: 30px;
}
.services .services-container .services-box .box p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--grey-90);
  margin-bottom: 40px;
}
.services .services-container .services-box .box button {
  border-radius: 6px;
  width: 100%;
  margin-top: 50px;
  height: 52px;
  background: var(--grey-15);
  color: #fff;
  border: none;
}

.squareUp {
  margin-bottom: 100px;
}
.squareUp .squareUp-container {
  max-width: 1400px;
  margin: auto;
}
.squareUp .squareUp-container h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.squareUp .squareUp-container p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #e6e6e6;
  margin-bottom: 100px;
}
.squareUp .squareUp-container .squareUp-box {
  display: flex;
  flex-wrap: wrap;
}
.squareUp .squareUp-container .squareUp-box .box {
  border: 1px solid #262626;
  padding: 80px;
  width: 699px;
  height: 378px;
}
.squareUp .squareUp-container .squareUp-box .box .text-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}
.squareUp .squareUp-container .squareUp-box .box .text-box h1:nth-child(2) {
  font-family: "Barlow", sans-serif;
  margin-top: 25px;
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
}
.squareUp .squareUp-container .squareUp-box .box h5 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #e6e6e6;
}

.clients .clients-container {
  max-width: 1400px;
  margin: auto;
}
.clients .clients-container h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.clients .clients-container p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #e6e6e6;
  margin-bottom: 80px;
}
.clients .clients-container .clients-box {
  display: flex;
  flex-wrap: wrap;
}
.clients .clients-container .clients-box .box {
  border: 1px solid #262626;
  padding: 100px 80px;
  max-width: 700px;
  height: 532px;
}
.clients .clients-container .clients-box .box h2 {
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #d8ff99;
  margin-bottom: 40px;
}
.clients .clients-container .clients-box .box h3 {
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #e6e6e6;
  margin-bottom: 50px;
}
.clients .clients-container .clients-box .box .client-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 1px solid #262626;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 103px;
  background: rgba(36, 36, 36, 0.2);
}
.clients .clients-container .clients-box .box .client-box .name {
  display: flex;
  align-items: center;
  gap: 15px;
}
.clients .clients-container .clients-box .box .client-box .name .text-name h5 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.clients .clients-container .clients-box .box .client-box .name .text-name span {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #e6e6e6;
}
.clients .clients-container .clients-box .box .client-box button {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  border-radius: 8px;
  padding: 18px 20px;
  width: 149px;
  height: 63px;
  background: #262626;
  border: none;
}

@media (min-width: 360px) and (max-width: 768px) {
  nav .nav-container .logo img {
    width: 50px;
    height: 50px;
  }
  nav .nav-container ul {
    display: none;
  }
  nav .nav-container .nav-menu {
    display: block;
  }
  nav .nav-container button {
    display: none;
  }
  .home .home-container .home-bg {
    display: none;
  }
  .home .home-container h1 {
    font-size: 34px;
  }
  .home .home-container .border {
    border: 1px solid var(--grey-15);
    border-radius: 8px;
    padding: 18px 20px;
    width: 358px;
    height: 84px;
  }
  .home .home-container .border p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--grey-60);
  }
  .home .home-container .border p span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 0;
    background: none;
    color: var(--grey-60);
  }
  .companies .companies-container {
    flex-wrap: wrap;
    gap: 60px;
  }
  .services .services-container {
    padding: 10px;
  }
  .services .services-container .services-box {
    flex-direction: column;
  }
  .services .services-container .services-box .box {
    margin-left: 8px;
  }
  .squareUp .squareUp-container .squareUp-box {
    padding: 10px;
  }
  .squareUp .squareUp-container .squareUp-box .box {
    padding: 20px;
    width: 100%;
  }
  .squareUp .squareUp-container .squareUp-box .box .text-box h1:nth-child(2) {
    font-size: 21px;
  }
  .squareUp .squareUp-container .squareUp-box .box h5 {
    font-size: 18px;
  }
  .clients {
    padding: 10px;
  }
  .clients .clients-container .clients-box .box {
    border: 1px solid #fff;
    padding: 30px;
  }
  .clients .clients-container .clients-box .box h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .clients .clients-container .clients-box .box h3 {
    margin-bottom: 30px;
  }
  .clients .clients-container .clients-box .box .client-box .name .text-name h5 {
    font-size: 20px;
  }
  .clients .clients-container .clients-box .box .client-box .name .text-name span {
    font-size: 15px;
  }
  .clients .clients-container .clients-box .box .client-box button {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */